In [1]:
import os

In [2]:
random_seed = 42

In [3]:
import csv

In [4]:
import random
random.seed(random_seed)
import numpy as np
np.random.seed(random_seed)
import pandas as pd
pd.set_option('max_colwidth', 256)

In [5]:
data_path = "data/data/"

In [6]:
train = pd.read_json(data_path + 'train.jsonl', lines=True)
train.head()

,document,idx,label
0,the rock is destined to be the 21st century s new conan and that he s going to make a splash even greater than arnold schwarzenegger jean claud van damme or steven segal,train_0,1
1,the gorgeously elaborate continuation of the lord of the rings trilogy is so huge that a column of words can not adequately describe co writer director peter jackson s expanded vision of j r r tolkien s middle earth,train_1,1
2,singer composer bryan adams contributes a slew of songs a few potential hits a few more simply intrusive to the story but the whole package certainly captures the intended er spirit of the piece,train_2,1
3,yet the act is still charming here,train_3,1
4,whether or not you re enlightened by any of derrida s lectures on the other and the self derrida is an undeniably fascinating and playful fellow,train_4,1

In [7]:
train = train[['label', 'document', 'idx']]
train['idx'] = range(len(train))
train.columns = ['label', 'sentence', 'sample_index']
train.head()

,label,sentence,sample_index
0,1,the rock is destined to be the 21st century s new conan and that he s going to make a splash even greater than arnold schwarzenegger jean claud van damme or steven segal,0
1,1,the gorgeously elaborate continuation of the lord of the rings trilogy is so huge that a column of words can not adequately describe co writer director peter jackson s expanded vision of j r r tolkien s middle earth,1
2,1,singer composer bryan adams contributes a slew of songs a few potential hits a few more simply intrusive to the story but the whole package certainly captures the intended er spirit of the piece,2
3,1,yet the act is still charming here,3
4,1,whether or not you re enlightened by any of derrida s lectures on the other and the self derrida is an undeniably fascinating and playful fellow,4

In [8]:
train['label'].value_counts()

1    3610
0    3310
Name: label, dtype: int64

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6920 entries, 0 to 6919
Data columns (total 3 columns):
label           6920 non-null int64
sentence        6920 non-null object
sample_index    6920 non-null int64
dtypes: int64(2), object(1)
memory usage: 162.3+ KB

In [10]:
train.to_csv('data/train.csv', index=False)

In [11]:
dev = pd.read_json(data_path + 'dev.jsonl', lines=True)
dev = dev[['label', 'document', 'idx']]
dev['idx'] = range(len(dev))
dev.columns = ['label', 'sentence', 'sample_index']
dev.head()

,label,sentence,sample_index
0,1,it s a lovely film with lovely performances by buy and accorsi,0
1,1,and if you re not nearly moved to tears by a couple of scenes you ve got ice water in your veins,1
2,1,a warm funny engaging film,2
3,1,uses sharp humor and insight into human nature to examine class conflict adolescent yearning the roots of friendship and sexual identity,3
4,1,entertains by providing good lively company,4

In [12]:
dev['label'].value_counts()

1    444
0    428
Name: label, dtype: int64

In [13]:
dev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 872 entries, 0 to 871
Data columns (total 3 columns):
label           872 non-null int64
sentence        872 non-null object
sample_index    872 non-null int64
dtypes: int64(2), object(1)
memory usage: 20.5+ KB

In [14]:
dev.to_csv('data/dev.csv', index=False)

In [15]:
test = pd.read_json(data_path + 'test.jsonl', lines=True)
test = test[['label', 'document', 'idx']]
test['idx'] = range(len(test))
test.columns = ['label', 'sentence', 'sample_index']
test.head()

,label,sentence,sample_index
0,1,if you sometimes like to go to the movies to have fun wasabi is a good place to start,0
1,1,emerges as something rare an issue movie that s so honest and keenly observed that it does n t feel like one,1
2,1,offers that rare combination of entertainment and education,2
3,1,perhaps no picture ever made has more literally showed that the road to hell is paved with good intentions,3
4,1,steers turns in a snappy screenplay that curls at the edges it s so clever you want to hate it,4

In [16]:
test['label'].value_counts()

0    912
1    909
Name: label, dtype: int64

In [17]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1821 entries, 0 to 1820
Data columns (total 3 columns):
label           1821 non-null int64
sentence        1821 non-null object
sample_index    1821 non-null int64
dtypes: int64(2), object(1)
memory usage: 42.8+ KB

In [18]:
test.to_csv('data/test.csv', index=False)

In [19]:
total = len(train)
for percentage in range(0, 100, 10):
    k = int(total*(percentage/100))
    print(percentage, k)
    
    tmp = train.sample(k, 
                       random_state=0
                      )

    tmp = train.drop(tmp.index)
    print(tmp['label'].value_counts())
    
    filename = "data/random_0/{}.csv".format(percentage)
    os.makedirs(os.path.dirname(filename), exist_ok=True)
    
    tmp[['label', 'sentence', 'sample_index']].to_csv(filename, index=False)

0 0
1    3610
0    3310
Name: label, dtype: int64
10 692
1    3244
0    2984
Name: label, dtype: int64
20 1384
1    2900
0    2636
Name: label, dtype: int64
30 2076
1    2546
0    2298
Name: label, dtype: int64
40 2768
1    2179
0    1973
Name: label, dtype: int64
50 3460
1    1822
0    1638
Name: label, dtype: int64
60 4152
1    1445
0    1323
Name: label, dtype: int64
70 4844
1    1077
0     999
Name: label, dtype: int64
80 5536
1    727
0    657
Name: label, dtype: int64
90 6228
1    361
0    331
Name: label, dtype: int64

In [20]:
total = len(train)
for percentage in range(0, 100, 10):
    k = int(total*(percentage/100))
    print(percentage, k)
    
    tmp = train.sample(k, 
                       random_state=2
                      )

    tmp = train.drop(tmp.index)
    print(tmp['label'].value_counts())
    
    filename = "data/random_2/{}.csv".format(percentage)
    os.makedirs(os.path.dirname(filename), exist_ok=True)
    
    tmp[['label', 'sentence', 'sample_index']].to_csv(filename, index=False)

0 0
1    3610
0    3310
Name: label, dtype: int64
10 692
1    3240
0    2988
Name: label, dtype: int64
20 1384
1    2886
0    2650
Name: label, dtype: int64
30 2076
1    2510
0    2334
Name: label, dtype: int64
40 2768
1    2154
0    1998
Name: label, dtype: int64
50 3460
1    1784
0    1676
Name: label, dtype: int64
60 4152
1    1413
0    1355
Name: label, dtype: int64
70 4844
1    1073
0    1003
Name: label, dtype: int64
80 5536
1    711
0    673
Name: label, dtype: int64
90 6228
1    357
0    335
Name: label, dtype: int64

In [21]:
total = len(train)
for percentage in range(0, 100, 10):
    k = int(total*(percentage/100))
    print(percentage, k)
    
    tmp = train.sample(k, 
                       random_state=42
                      )

    tmp = train.drop(tmp.index)
    print(tmp['label'].value_counts())
    
    filename = "data/random/{}.csv".format(percentage)
    os.makedirs(os.path.dirname(filename), exist_ok=True)
    
    tmp[['label', 'sentence', 'sample_index']].to_csv(filename, index=False)

0 0
1    3610
0    3310
Name: label, dtype: int64
10 692
1    3217
0    3011
Name: label, dtype: int64
20 1384
1    2846
0    2690
Name: label, dtype: int64
30 2076
1    2475
0    2369
Name: label, dtype: int64
40 2768
1    2121
0    2031
Name: label, dtype: int64
50 3460
1    1761
0    1699
Name: label, dtype: int64
60 4152
1    1425
0    1343
Name: label, dtype: int64
70 4844
1    1081
0     995
Name: label, dtype: int64
80 5536
1    710
0    674
Name: label, dtype: int64
90 6228
1    359
0    333
Name: label, dtype: int64