In [35]:
import os

In [36]:
random_seed = 42

In [37]:
import csv

In [38]:
import random
random.seed(random_seed)
import numpy as np
np.random.seed(random_seed)
import pandas as pd
pd.set_option('max_colwidth', 256)

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
data_path = "data/yahoo_answers_csv/"

In [41]:
classes = {
    0: "Society & Culture",
    1: "Science & Mathematics",
    2: "Health",
    3: "Education & Reference",
    4: "Computers & Internet",
    5: "Sports",
    6: "Business & Finance",   
    7: "Entertainment & Music",
    8: "Family & Relationships",  
    9: "Politics & Government",  
}

In [8]:
# https://github.com/huggingface/datasets/blob/master/datasets/ag_news/ag_news.py
train = pd.read_csv(data_path + 'train.csv', quotechar='"', delimiter=",", quoting=csv.QUOTE_ALL, header=None)
train.columns = ['label', 'title', 'content', 'answer']
train['label'] = train['label']-1

In [9]:
train = train.dropna()

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 753655 entries, 0 to 1399998
Data columns (total 4 columns):
label      753655 non-null int64
title      753655 non-null object
content    753655 non-null object
answer     753655 non-null object
dtypes: int64(1), object(3)
memory usage: 28.7+ MB

In [11]:
train['label'].value_counts()

8    88434
0    85299
9    81482
7    80177
2    77872
4    75536
3    68381
1    67700
5    65859
6    62915
Name: label, dtype: int64

In [12]:
for i in range(10):
    if i==0:
        train_ = train[train['label']==i].sample(2000, random_state=random_seed)
    else:
        train_ = train_.append(train[train['label']==i].sample(2000, random_state=random_seed))
train_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 970813 to 899935
Data columns (total 4 columns):
label      20000 non-null int64
title      20000 non-null object
content    20000 non-null object
answer     20000 non-null object
dtypes: int64(1), object(3)
memory usage: 781.2+ KB

In [13]:
train_['sentence'] = train_.apply(lambda x: " ; ".join((x['title'], x['content'], x['answer'])), axis=1)
train_ = train_[['label', 'sentence']]

In [14]:
train_.head()

,label,sentence
970813,0,could a robot do your job..? ; i mean as in the way you make a living ; no..well not unless anyone invents a robot that lies around all day eating chocolate and editing HTML codes...
422744,0,My town is having Rev Trask day next week. Do you think my church will let me take next Sunday off ? ; I'll be exhausted from being grand marshall in the parade. ; Sure. Are we waving as we walk or from the car?
1099121,0,"Why are people so dumb....? ; I was just watching the news, when this story comes on about a crackhead who attempted to attack a police officer with a knife and was shot to death. Anyways...the news found one of the guys hood rat friends and he was lik..."
244074,0,"Are all...""Christians"" going to Heaven? ; Why are there over 2,000 religious groups in America today? Why are there over 300 baptists groups? I thought there was only One Faith (Ephesians 4:5), I thought there was NO division (1 Corinthians 1:10), I th..."
1064077,0,"How can Intelligent Design be called intelligent? ; Why do humans get sick so easily? Why do our bones break when we fall? Why do we need glasses? Why all the aches and pains? Why do our teeth rot and break without proper care?\n\nGod was all powerful,..."

In [15]:
train, dev = train_test_split(train_, test_size=10000, shuffle=True, random_state=random_seed, stratify=train_['label'])

In [16]:
train['sample_index'] = list(range(len(train)))
train.head()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,label,sentence,sample_index
1194221,4,how can i open the site www.pmaftp.com i need the link to that site please? ; email addresses of individuals ; Here you go http://www.pmaftp.com/,0
677721,2,"How old are U what is your gender and at what age you would like to die at, and what is your stand for that? ; I am 32 Male and I would like to die at when I will be at the age of 60 or whenever I will be surrounded by the painful diseases. ; 27/f I ...",1
677680,9,"I am a 30 yr old South African, my father is a Australian citizen and lives there, do I qualify for residency? ; I also have an Australian aunt (my mothers' sister). both my father and aunt were born in South Africa but emigrated to Australia years ago...",2
503509,3,"What is the best strategy for winning a student government election? ; for example, is it better to have a serious speech or a funny speech? plain, simple posters, or exciting posters? ; Is it highschool or college. I was highschool class president on...",3
1110370,3,"i want to MBA,I have financial problem,can any suggest to where i can satisfy by any good college.? ; my name is mohammed shakeel,from bangalore. ; Why you want to do MBA?\nWhy there is financial problem?\nWhy you want a good college?\nThink, with your...",4

In [17]:
dev['sample_index'] = list(range(len(dev)))
dev.head()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,label,sentence,sample_index
18995,7,Who do you think The Carver is in NIP/TUCK? ; love that show ; i think it was that lady detective ...don't remember her name Dr. troy and kimber's ex girlfriend.,0
534665,7,"first verse help? ; Whats the first few lines of heat of the moment by asia, i think? really bugging me. Cheers ; I never meant to be so bad to you\nOne thing I said that I would never do\nA look from you and I would fall from grace\nAnd that would wip...",1
74441,7,"what is this song?? ; i think its an old song. like since i was little... here r the lyrics that i remember:\n\ni dont wanna run away, but i cant take it i dont understand. if i wasnt made for u then y does my heart tell me that i am?\n\nyea thats all ...",2
707003,4,How can I find the fastest Processor for my computer? ; I have a Dell Dimension 8100 aith a Pentium 4 1300Mhz Processor. What is the fastest processor that is compatible with this computer? ; I did some research on your computers chipset. It appears yo...,3
1147354,5,what were rangers and celtics average attendances from 1966 until 1990? ; scottish football statistics ; 2 points! Wooooo!,4

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 1194221 to 822438
Data columns (total 3 columns):
label           10000 non-null int64
sentence        10000 non-null object
sample_index    10000 non-null int64
dtypes: int64(2), object(1)
memory usage: 312.5+ KB

In [19]:
dev.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 18995 to 542295
Data columns (total 3 columns):
label           10000 non-null int64
sentence        10000 non-null object
sample_index    10000 non-null int64
dtypes: int64(2), object(1)
memory usage: 312.5+ KB

In [20]:
# https://github.com/huggingface/datasets/blob/master/datasets/ag_news/ag_news.py
test = pd.read_csv(data_path + 'test.csv', quotechar='"', delimiter=",", quoting=csv.QUOTE_ALL, header=None)
test.columns = ['label', 'title', 'content', 'answer']
test['label'] = test['label']-1

In [21]:
test = test.dropna()

In [22]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32265 entries, 0 to 59999
Data columns (total 4 columns):
label      32265 non-null int64
title      32265 non-null object
content    32265 non-null object
answer     32265 non-null object
dtypes: int64(1), object(3)
memory usage: 1.2+ MB

In [23]:
for i in range(10):
    if i==0:
        test_ = test[test['label']==i].sample(1000, random_state=random_seed)
    else:
        test_ = test_.append(test[test['label']==i].sample(1000, random_state=random_seed))
test_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 52267 to 10962
Data columns (total 4 columns):
label      10000 non-null int64
title      10000 non-null object
content    10000 non-null object
answer     10000 non-null object
dtypes: int64(1), object(3)
memory usage: 390.6+ KB

In [24]:
test = test_

In [25]:
test['sentence'] = test.apply(lambda x: " ; ".join((x['title'], x['content'], x['answer'])), axis=1)
test = test[['label', 'sentence']]
test['sample_index'] = list(range(len(test)))
test.head()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,label,sentence,sample_index
52267,0,"Is perfect health and wellness possible in this realm? ; or do you just have to have an extremely high tolerance for unpleasantness? ; So people who have no ""problems"" in their life claim that it is too boring. Humans want so much that mentally I don...",0
40811,0,"If I snuck behind God and gave him some ""truth serum"" what would he say? ; RAmen. ; God would say, ""I AM GAY!""",1
38763,0,"Fairy Question to Women of Color? ; Hi all. I am creating a ""Faeries of the Month"" calendar for 2007 and I realized that I hadn't seen many so-called Ethnic faeries aside from the ones I paint (I'm a white girl, btw). So, my question is this: Are th...",2
53705,0,People i just want say something.........? ; Why you say that atheist all dressed up and nowhere to go when they die? It not just atheist that go nowhere when they die its everybody cause soul dont exist and you dont exist without body so that saying i...,3
32421,0,HELP!! I Think I have an INTERNET STALKER?? ; what should i do? see my trailer and move? hire a armed security guard? change my idenity? marry a cop????? HELP!!! ; I would hope that the security guard you hire would have arms.\n\nA lot of good he'd be ...,4

In [26]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 52267 to 10962
Data columns (total 3 columns):
label           10000 non-null int64
sentence        10000 non-null object
sample_index    10000 non-null int64
dtypes: int64(2), object(1)
memory usage: 312.5+ KB

In [27]:
test['label'].value_counts()

7    1000
6    1000
5    1000
4    1000
3    1000
2    1000
9    1000
1    1000
8    1000
0    1000
Name: label, dtype: int64

In [51]:
tmp = train[train['label']==5]
tmp['sentence'] = tmp['sentence'].str.lower()
tmp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 824365 to 605246
Data columns (total 3 columns):
label           1000 non-null int64
sentence        1000 non-null object
sample_index    1000 non-null int64
dtypes: int64(2), object(1)
memory usage: 31.2+ KB

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [57]:
tmp[tmp['sentence'].str.contains("football field")].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 895193 to 820288
Data columns (total 3 columns):
label           2 non-null int64
sentence        2 non-null object
sample_index    2 non-null int64
dtypes: int64(2), object(1)
memory usage: 64.0+ bytes

In [66]:
train.to_csv('data/train.csv', index=False)

In [29]:
dev.to_csv('data/dev.csv', index=False)

In [30]:
test.to_csv('data/test.csv', index=False)

In [31]:
total = len(train)
for percentage in range(0, 100, 10):
    k = int(total*(percentage/100))
    print(percentage, k)
    
    tmp = train.sample(k, 
                       random_state=0
                      )

    tmp = train.drop(tmp.index)
    print(tmp['label'].value_counts())
    
    filename = "data/random_0/{}.csv".format(percentage)
    os.makedirs(os.path.dirname(filename), exist_ok=True)
    
    tmp[['label', 'sentence', 'sample_index']].to_csv(filename, index=False)

0 0
7    1000
6    1000
5    1000
4    1000
3    1000
2    1000
9    1000
1    1000
8    1000
0    1000
Name: label, dtype: int64
10 1000
1    909
0    908
7    902
4    902
3    901
9    901
2    899
8    895
5    893
6    890
Name: label, dtype: int64
20 2000
1    816
3    808
0    806
9    803
8    802
7    801
2    795
5    793
4    791
6    785
Name: label, dtype: int64
30 3000
3    722
1    716
0    716
8    707
9    704
5    696
7    692
6    685
4    685
2    677
Name: label, dtype: int64
40 4000
3    626
9    615
0    615
1    602
8    600
4    597
2    594
6    586
5    583
7    582
Name: label, dtype: int64
50 5000
0    532
3    514
4    512
6    504
9    501
1    496
2    489
5    488
8    484
7    480
Name: label, dtype: int64
60 6000
0    431
3    419
9    410
4    409
6    403
1    397
2    396
7    384
8    376
5    375
Name: label, dtype: int64
70 7000
3    328
0    323
2    309
1    306
9    297
5    294
4    294
6    292
7    282
8    275
Name: label, dtype: int64
80 8000
0    227
3    217
5    204
2    202
1    202
9    197
6    196
4    193
8    181
7    181
Name: label, dtype: int64
90 9000
2    119
0    111
8    101
9     99
3     98
7     97
1     95
6     94
5     94
4     92
Name: label, dtype: int64

In [32]:
total = len(train)
for percentage in range(0, 100, 10):
    k = int(total*(percentage/100))
    print(percentage, k)
    
    tmp = train.sample(k, 
                       random_state=2
                      )

    tmp = train.drop(tmp.index)
    print(tmp['label'].value_counts())
    
    filename = "data/random_2/{}.csv".format(percentage)
    os.makedirs(os.path.dirname(filename), exist_ok=True)
    
    tmp[['label', 'sentence', 'sample_index']].to_csv(filename, index=False)

0 0
7    1000
6    1000
5    1000
4    1000
3    1000
2    1000
9    1000
1    1000
8    1000
0    1000
Name: label, dtype: int64
10 1000
4    923
7    914
3    906
5    905
9    903
8    895
1    894
6    889
2    889
0    882
Name: label, dtype: int64
20 2000
4    826
9    812
6    806
7    802
1    797
5    796
0    796
8    795
3    790
2    780
Name: label, dtype: int64
30 3000
5    721
7    709
1    708
4    706
6    705
8    701
9    700
3    690
2    681
0    679
Name: label, dtype: int64
40 4000
7    622
8    615
5    606
4    606
1    605
6    598
9    592
0    589
2    588
3    579
Name: label, dtype: int64
50 5000
1    522
7    521
8    510
5    504
4    500
6    499
9    495
0    485
3    482
2    482
Name: label, dtype: int64
60 6000
1    426
8    416
4    416
7    404
6    401
9    398
5    395
3    389
0    387
2    368
Name: label, dtype: int64
70 7000
1    325
8    317
6    301
4    301
0    300
9    299
5    299
7    294
3    288
2    276
Name: label, dtype: int64
80 8000
1    220
0    206
8    204
9    203
6    202
7    199
5    198
4    197
2    190
3    181
Name: label, dtype: int64
90 9000
1    114
7    108
0    108
8    105
9    103
5    101
6     98
4     96
2     88
3     79
Name: label, dtype: int64

In [33]:
total = len(train)
for percentage in range(0, 100, 10):
    k = int(total*(percentage/100))
    print(percentage, k)
    
    tmp = train.sample(k, 
                       random_state=42
                      )
    tmp = train.drop(tmp.index)
    print(tmp['label'].value_counts())
    
    filename = "data/random/{}.csv".format(percentage)
    os.makedirs(os.path.dirname(filename), exist_ok=True)
    
    tmp[['label', 'sentence', 'sample_index']].to_csv(filename, index=False)

0 0
7    1000
6    1000
5    1000
4    1000
3    1000
2    1000
9    1000
1    1000
8    1000
0    1000
Name: label, dtype: int64
10 1000
8    920
2    909
0    905
9    904
6    902
1    902
5    894
7    889
4    888
3    887
Name: label, dtype: int64
20 2000
8    820
2    812
6    810
1    809
0    808
9    797
4    792
5    786
7    784
3    782
Name: label, dtype: int64
30 3000
8    724
1    708
9    705
0    700
6    698
2    698
7    694
5    694
3    692
4    687
Name: label, dtype: int64
40 4000
7    614
8    613
1    608
0    606
5    605
4    595
6    593
9    593
2    591
3    582
Name: label, dtype: int64
50 5000
8    511
5    510
6    508
1    505
7    504
9    502
0    501
4    497
2    492
3    470
Name: label, dtype: int64
60 6000
5    424
8    416
1    414
6    414
7    402
0    392
2    391
4    387
9    380
3    380
Name: label, dtype: int64
70 7000
8    330
5    319
6    319
2    304
0    302
1    301
7    287
3    287
4    284
9    267
Name: label, dtype: int64
80 8000
8    229
6    215
5    206
2    203
3    202
1    200
0    199
7    190
4    185
9    171
Name: label, dtype: int64
90 9000
2    112
8    110
6    110
5    110
0    106
1    104
7    101
3     95
9     79
4     73
Name: label, dtype: int64